@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Gowun Batang', serif;
    /* @apply font-[Gowun Batang] */
    margin: 0;
    /* margin: -32px;
    margin-left: -100px; */
    padding: 0;
    box-sizing: border-box;
}

li{
    @apply cursor-pointer
}